body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
html,body{
    height: 100%;
}
body{
	position: relative;
}


body a:hover{
	text-decoration: none;
	color: black;
}

.header{
	width: 100%;
	height: 45px;
	background: white;
	position: fixed;
	top:0;
	z-index: 13;
}
.header .h_img{
	width: 70px;
	height: 39px;
	position: absolute;
	left: 100px;
	top: 3px;
}
.header .sousuo{
	position: absolute;
	right: 100px;
	top: 5px;
}

/*header*/
header{
	width: 100%;
	height: 145px;
	/*background: pink;*/
}
.h_main{
	width: 1160px;
	height: 145px;
	/*background: green;*/
	margin: 0 auto;
	position: relative;
}
.logo{
	width: 170px;
	height: 95px;
	position: absolute;
	top: 30px;
	z-index: 11;
}

.denglu{
	width: 445px;
	height: 24px;
	/*background: red;*/
	float: right;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.denglu a{
	text-decoration: none;
	color: black;
	font-size: 14px;
}
.menu{
	/*overflow: hidden;*/
	width: 100%;
	height: 45px;
	/*background:red;*/
	display: flex;
	justify-content: center;
	position: relative;
	// z-index: 20;
}
.menu .m_name{
	/*display: block;*/
	list-style: none;
	font-size: 16px;
	font-weight: 700;
	/*margin: 0 30px;*/
	width: 88px;
	line-height: 45px;
	/*background: red;*/
	text-align: center;


}
.menu li:hover{
	background: #e5e5e5;
}
.menu .nanzhuang:hover #nz_box{
	display: block;
}/*
.menu .nvzhuang:hover #nz_box{
	display: block;
}*/
.menu .menuB{
	width: 120px;
}
.menu li a{
	text-decoration: none;
	color: black;
}

.nz_name{
	text-decoration: none;
	color: black;
}
#nz_box{
	padding-top: 35px;
	width: 1349px;
	height: 390px;
	background: #e5e5e5;
	position: absolute;
	top: 45px;
	left: -95px;
	display: none;
	z-index: 1;
}
.nz_main{
	width: 900px;
	display: flex;
	margin: 0 auto;
	/*background: red;*/
}
.nz_left{
	width: 150px;
}
.nz_left:nth-child(1){
	border-right: 1px solid #a0a0a0;
}
.nz_left:nth-child(2){
	margin-left: 60px;
}
.nz_main .nz_left a:nth-child(1){

	font-size: 18px;
	font-weight: 900;
	margin-left: 0;
}
.nz_main .nz_left a{
	display: block;
	font-size: 16px;
	font-weight: 400;
	margin-left: 20px;
	text-decoration: none;
	color: black;
	line-height: 35px;
	text-align: left;
}
.nzimg{
	width: 262px;
}
.nzimg:nth-child(1){
	margin-left:  10px;
}





.sousuo{
	border: 1px solid black;
	padding-left: 10px;
	padding-top: 6px;
	width: 230px;
	height: 32px;
	/*background: black;*/
	position: absolute;
	right: 0;
	border-radius: 5px;
}
.sousuo input{
	border:none;
}

/* 主要部分 main */

.main{
    width: 100%;
    height: 600px;
}
.denglu_box{
    width:500px ;
    /* height: 343px; */
    /* background: pink; */
    margin: 50px auto 100px;
    position: relative;
}
.denglu_top{
    list-style: none;
    height: 40px;
    margin-bottom: 20px;

}
.active{
    color: #cb0025;
    font-weight: 700;
    border-bottom: 2px solid #cb0025;;
}
.denglu_top li{
    float: left;
    height: 40px;
    width: 50%;
    font-size: 20px;
    text-align: center;
    
}
.denglu_top li span{
    height: 38px;
    display: inline-block;
    line-height: 38px;
}
.denglu_top .a2{
    color: #999;
}
.in1{
    overflow: hidden;
    width: 100%;
    height: 46px;
    /* clear: left; */
    /* background: red; */
    margin-bottom: 24px;
    border: 1px solid black;
}
.in1 input{
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin-left: 10px;
    border: none;
    /* padding: 10px; */
}
.in1 input:focus{
    outline:none;
}
.denglu_bm{
	clear: both;
    width: 100%;
    height: 42px;
    margin-bottom: 40px;
}
.denglu_bm div{
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 42px;
    font-size: 15px;
    color: white;
}
.left{
    clear: right;
    background: #c51333;
}
.right{
    background: black;
}
.forget_password a{
    color: #114686;
    float: right;
    text-decoration: none;
}
.forget_password{
	clear: both;
	margin-top: 10px;
}
.denglu_footer{
	clear: left;
    width: 100%;
	height: 52px;
	font-size: 16px;
    /* background: green; */
    /* position: absolute; */
    /* bottom: -100px; */
    line-height:52px;
	font-weight: 700;
}
.denglu_footer span,.denglu_footer img{
	float: left;
}
.denglu_footer img{
    width: 32px;
	height: 32px;
	opacity: 0.7;
}
.denglu_footer img:hover{
	opacity: 1;
}
.auto{
	display:none;
	position: absolute;
	top: 60px;
	left: 0;
	width: 500px;
}
.auto2{
	position: absolute;
	width: 500px;
	left: 0;
	top: 60px;
	display: block;
	/* display: none; */
}
.captcha{
	width: 300px;
	height: 46px;
	border: 1px solid black;
	text-align: center;
	line-height:40px ;
	float: left;
}
.auto2 .captcha input{
	width: 280px;
	height: 16px;
	border: none;
}
.auto2 .captcha input:focus{
	outline: none;
}
.captcha_box img{
	float: left;
	width: 82px;
	height: 24px;
	margin-top: 10px;
	margin-left: 5px;
}
#click{
	width: 200px;
	height: 46px;
	// float: right;
	background: black;
	color: white;
	text-align: center;
	line-height:46px ;
}
.captcha_box{
	margin-bottom: 25px;
	height: 46px;
}
.captcha_box a{
	text-decoration: none;
	color: black;
	font-size: 14px;
	float: left;
	margin-top: 5px;
	margin-left: 5px;

}












/* footer */
footer{
	width: 100%;
	height: 338px;
	background:#212121;
}
.ft_main{
	width: 977px;	height: 338px;
	margin: 0 auto;
	padding-top: 20px;
}
.ft_logo{
	text-align: center;
}
.ft_logo img{
	width: 175px;
	height: 95px;
}
.ft_bottom{
	width: 100%;
	height: 179px;
	margin-top:20px;
	/*display: flex;*/
}
.ft1{
	width: 245px;
	height: 100%;
	float: left;
}
.ft2{
	width: 200px;
	height: 100%;
	float: left;
	
}
.ft3{
	width: 206px;
	float: left;
	height: 100%;

}
.ft4{
	width: 196px;
	float: left;
	height: 100%;

}
.ft5{
	width: 130px;
	float: left;
	height: 100%;

}
.ft_bottom a{
	text-decoration: none;
	color: white;
	display: block;
	font-size: 14px;
	margin-bottom: 5px;

}
.ft_bottom a:hover{
	text-decoration: none;
	color: white;
}
.ft_tit{
	font-size: 16px;
	font-weight: 900;
	color: white;
	margin-bottom: 10px;
}
.ft5 a{
	display: inline;
}
.ft1 a{
	display: inline;
}
.footer{
	// width: 100%;
	height: 37px;
	background: black;
	display: flex;
	justify-content: space-between;
	padding: 0 150px;
	line-height: 37px;
	font-size: 13px;
	color: white;
}
